* {
    margin: 0;
}

html{
    /* max-width: 1280px; */
    width: 1280px;
}

/* LANDING PAGE */
.landing-logo {
    background-color:rgba(135, 125, 90, 0.4);
    justify-content: center;
    display: flex;
    margin: 10px;
    padding-right:100% ;
    float:left;
   background-image:url(./img/img\ fundo.jpg)

}
.landing-logo img{
    border-radius: 60%;
}

.info{
    margin: 0;
    padding: 0;
    width: auto;
    height: 30px;
}

.info ul{
    list-style:none;
}

.info li{
    display: inline;
    float: left;
    padding:0px;
    margin: 0;
    width: 80px;
}

.info a{
    display:flex;
    text-decoration:double;
    text-align: center;
    padding: 10px;
    font-family:"karla", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.landing-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}    

#landing-hor-line{
    width: 100%;
}

.texto-sobre{
    display:grid;
    justify-content:space-around;
    text-align:left;
    font-family:"karla",sans-serif;
    font-size:large;
    color:#7D1107;
}

.texto-sobre{
    display:grid;
    justify-content:space-around;
    text-align:left;
    font-family:"karla",sans-serif;
    font-size:large;
    color:#7D1107;
}

.landing-main{
    display: flex;
    justify-content: center;
    margin: 70px 0;
    gap: 100px;
}

.landing-main img{
    height: 400px;
    width: 500px;
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.2s;
}

.landing-main img:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
}

.texto-main{
    display: grid;
    text-align: center;
    font-family: "karla",sans-serif;
    font-size:larger;
    color: #7D1107;
}

.rodape-main{
    display: flex;
    height: 50px;
    background-color:rgba(135, 125, 90, 0.4);
}

.texto-rodape-main{
    display: grid;
    justify-content: center;
    text-align:center;
    font-family: cursive;
    font-size:large;
    color: #7D1107;
}

.redes img{
    display:inline;
    width: 30px;

}

/* PÁGINA MERCADO */
.market-page-body{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 1fr 300px;
    gap: 10px;
}

/* Header da Página Mercado */
.header-market-page{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    background-color: rgba(135, 125, 90, 0.4);
    border-radius: 3px;
    border: rgba(135, 125, 90, 0.5) double 4px;
}

.header-market-page a{
    display: flex;
    align-items: center;
    height: 90%;
}

.market-logo{
    padding: 0 20px;
    height: 100%;
    height: 50px;
}

.header-market-page img{
    padding-left: 20px;
}

.market-address{
    display: flex;
    align-self: center;
    margin-left: auto;
    padding: 40px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(135, 125, 90);
}

.header-market-page ion-icon{
    font-size: 25px;
    margin-right: 20px;
}


/* Barra lateral da página mercado */
.market-aside{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.market-categ-card{
    height: 145px;
}

.market-card-mask{
    background-color: rgba(135, 125, 90, 0.8);
    height: 100%;
    position: relative;
    bottom: 149px;
    border-radius: 5px;
    transition: opacity 0.3s;
    opacity: 0;
}

.promocoes:hover .market-card-mask, .limpeza:hover .market-card-mask,
.vegetais:hover .market-card-mask, .carnes:hover .market-card-mask,
.bebidas:hover .market-card-mask, .higiene:hover .market-card-mask,
.congelados:hover .market-card-mask{
    opacity: 1;
    transition: opacity 0.3s;
}

.market-categ-card img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.market-categ-card p{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-family: chalkduste, fantasy;
}

.market-aside{
    margin: 5px;
}

/* Main da Página Mercado */
.market-main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.market-main-card{
    border: 3px outset wheat;
    border: 3px outset rgb(247, 224, 205);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transform: scale(1);
    transition: transform 0.2s;
}

.market-main-card:hover{
    transform: scale(1.02);
    transition: transform 0.2s;
}

.market-main-card img{
    width: 100%;
    height: 90%;
}

/* Footer da Página Mercado */
.market-footer{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgba(135, 125, 90, 0.4);
    border-radius: 3px;
    border: rgba(135, 125, 90, 0.5) double 4px;
}

.market-footer img{
    height: 100%;
    border-radius: 5px;
}

.market-footer-mask{
    bottom: 296px;
    height: 100%;
    position: relative;
    opacity: 0;
    background-color: rgba(135, 125, 90, 0.8);
    text-align: center;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.promo1:hover .market-footer-mask, .promo2:hover .market-footer-mask{
    opacity: 1;
    transition: opacity 0.3s;
}

.promotion p{
    padding-top: 130px;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

/* Body Restaurant Section */

.header-restaurant-page{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    background-color: rgba(135, 125, 90, 0.4);
    border-radius: 3px;
    border: rgba(135, 125, 90, 0.5) double 4px;
}

.header-restaurant-page a{
    display: flex;
    align-items: center;
    height: 90%;
}

.restaurant-logo{
    padding: 0 20px;
    height: 100%;
    height: 50px;
}

.header-restaurant-page img{
    padding-left: 20px;
}

.restaurant-address{
    display: flex;
    align-self: center;
    margin-left: auto;
    padding: 40px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(135, 125, 90);
}

.header-restaurant-page ion-icon{
    font-size: 25px;
    margin-right: 20px;
}

.restaurant-img{
    width: 150px;
    border-radius: 5px;
}

#restaurant-section{
    margin: 2% 2%;
}

.footer-index{
   height: 100px;
   width: 100%;
   text-align: center;

}

.restaurant-main-card{
    border: 3px outset wheat;
    border: 3px outset rgb(247, 224, 205);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transform: scale(1);
    transition: transform 0.2s;
}

.restaurant-main-card:hover{
    transform: scale(1.02);
    transition: transform 0.2s;
}

.restaurant-main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.restaurant-main-card img{
    width: 80%;
    height: 75%;
}
